<div class="container">
    <h1>
        Test Management
    </h1>
    <button class="button">Add Test</button>
    <table id="tests">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Chemistry</td>
            <td>Basic</td>
            <td>$30</td>
        </tr>
        <tr>
            <td>Physics</td>
            <td>Basic</td>
            <td>$30</td>
        </tr>
        <tr>
            <td>Digital Elcetronics</td>
            <td>Basic</td>
            <td>$35</td>
        </tr>
        <tr>
            <td>Chemistry</td>
            <td>Intermediate</td>
            <td>$40</td>
        </tr>
        <tr>
            <td>Physics</td>
            <td>Intermediate</td>
            <td>$40</td>
        </tr>
    </table>
</div>