@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.container h1 {
    font-family: "Montserrat", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#labs {
    font-family: "Source Sans Pro";
    border-collapse: collapse;
    width:100%;
}

#labs td, #labs th {
    border: 1px solid #ddd;
    padding: 8px;
}

#labs tr:nth-child(even){background-color: #f2f2f2;}

#labs tr:hover {background-color: #ddd;}

#labs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0082e6;
    color: white;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }