<div class="container">
    <h1>
        Lab Management
    </h1>
    <button class="button">Add Lab</button>
    <table id="labs">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Pincode</th>
        </tr>
        <tr>
            <td>Chemistry</td>
            <td>13/2, Charles Street</td>
            <td>9819189182</td>
            <td>68900</td>
        </tr>
        <tr>
            <td>Physics</td>
            <td>56/A, Woodlands Street</td>
            <td>7894356789</td>
            <td>60895</td>
        </tr>
        <tr>
            <td>Object-Oriented Programming</td>
            <td>5/3, Hill Road</td>
            <td>9819189184</td>
            <td>68902</td>
        </tr>
        <tr>
            <td>Digital Electronics</td>
            <td>21/3, Bentick Street</td>
            <td>9819189134</td>
            <td>68607</td>
        </tr>
        <tr>
            <td>Database Management System</td>
            <td>34/1, Manchester Place</td>
            <td>8971620954</td>
            <td>62345</td>
        </tr>
    </table>
</div>