<div class="container">
    <h1>
        Admin Management
    </h1>
    <button class="button">Add Admin</button>
    <table id="admins">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Username</th>
            <th>Gender</th>
        </tr>
        <tr>
            <td>Rory Joseph Burns</td>
            <td>29</td>
            <td>Burns</td>
            <td>Male</td>
        </tr>
        <tr>
            <td>Dominic Sibley</td>
            <td>27</td>
            <td>Sibley</td>
            <td>Male</td>
        </tr>
        <tr>
            <td>Zak Crawley</td>
            <td>25</td>
            <td>Crawley</td>
            <td>Male</td>
        </tr>
        <tr>
            <td>Daniel Lawrence</td>
            <td>23</td>
            <td>Lawrence</td>
            <td>Male</td>
        </tr>
        <tr>
            <td>Sophie Devine</td>
            <td>26</td>
            <td>Devine</td>
            <td>Female</td>
        </tr>
    </table>
</div>